<!DOCTYPE html>
<html>

<head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name='description' content='<%= config.description %>'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="<%= config.keywords %>" />
    <!-- see http://smerity.com/articles/2013/where_did_all_the_http_referrers_go.html -->
    <meta name="referrer" content="always">

    <%
        var headers = config.site_headers || [];
        for (var i = 0, l = headers.length; i < l; i++) {
    %>
        <%- headers[i] %>
    <% } %>
    <%if (typeof pageTitle !== 'undefined') { %>
        <title><%= pageTitle %> - <%= config.name %></title>
    <% } else { %>
        <title><%= config.description %></title>
    <% } %>
    <meta content="_csrf" name="csrf-param">
    <link rel="stylesheet" href="/public/libs/layui/css/layui.css">

    <script>
        less = {
            env: "development",
            async: false,
            fileAsync: false,
            poll: 1000,
            functions: {},
            dumpLineNumbers: "comments",
            relativeUrls: false,
        };
    </script>
    <link rel="stylesheet/less" type="text/css" href="/public/stylesheets/main.less" />
    <link rel="stylesheet/less" type="text/css" href="/public/stylesheets/portal.less" />
    <!-- <script src="/public/libs/less.min.js" charset="utf-8"></script> -->
    <script src="https://cdn.bootcss.com/less.js/3.0.4/less.min.js"></script>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/public/libs/jquery-2.2.4.js" charset="utf-8"></script>
    <script src="/public/libs/layui/layui.js" charset="utf-8"></script>
</head>


<body>
    <div class="layui-layout layui-layout-admin indexLayout">

        <% include ./header.html %>

        <!-- <div class="layui-body"> -->
            <!-- 内容主体区域 -->
            <div>
                <%- body %>
            </div>
        <!-- </div> -->

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © 版权所有 -
            <%- config.name %>
        </div>
    </div>
    <script>
            //JavaScript代码区域
        layui.use('element', function(){
            var element = layui.element;
        });
    </script>
</body>
