<div class="wrap-container">
    <div class="banner">
        <div class="video-container">
            <video width="100%" muted="" src="/public/video/earth-move.mp4?dl=1" autoplay="autoplay" loop="loop"></video>
        </div>
        <div class="title-container">
            <p class="title">舆情监控系统</p>
        </div>
    </div>

    <div class="content">
        <div class="box-list">
            <div class="box">
                <i class="icon-platform"></i>
                <h3>品牌监测</h3>
                <p>利用大数据及人工智能技术，在数据模型基础上对品牌持续的监测和分析</p>
                <a class="detail">了解详情</a>
            </div>
            <div class="box">
                <i class="icon-platform"></i>
                <h3>消费者洞察</h3>
                <p>为您提供全方位了解您的消费者服务，帮助您深入到最细微的层次是我们的不变职责,</p>
                <a class="detail">了解详情</a>
            </div>
            <div class="box">
                <i class="icon-platform"></i>
                <h3>热点追踪</h3>
                <p>为您提供最新社会热点追踪，行业热点事件，热门舆情分析，让您时刻与最新热点保持同步</p>
                <a class="detail">了解详情</a>
            </div>
            <div class="box">
                <i class="icon-platform"></i>
                <h3>媒体监测</h3>
                <p>为您提供品牌口碑监测，广告投放研究，媒体投放研究，让您每一次宣传更加有的放矢！</p>
                <a class="detail">了解详情</a>
            </div>
        </div>
    </div>
</div>
<script>
</script>
